<!-- <div id="bg">
<img src="http://lorempixel.com/1920/1080/" id="back1" alt="" />
</div> -->

<div class="landingbg">
  <div class="inner-div">
    <span class="big-text">You've Got Big Plans</span>
    <hr id="landing-hr">
    <p class="medium-text">Explore and receive invitations to all your friends' upcoming activities.</p>
    <a href="#about" id="main-btn" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
  </div>
</div>
<div id="landing-footer">
  <%= render 'layouts/footer' %>
</div>
