<header>
  <div class="header-content">
    <div class="header-content-inner">
      <h1>WE GOT BIG PLANS FOR YOU</h1>
      <hr>
      <p>bla bla bla text</p>
      <a class="btn btn-primary btn-xl page-scroll" href="#about">Find Out More</a>
    </div>
  </div>
</header>
