// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.group-block {
  background: image-url("GRPAvatar.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  // -webkit-filter: blur(5px);
  // -moz-filter: blur(5px);
  // -o-filter: blur(5px);
  // -ms-filter: blur(5px);
  // filter: blur(5px);
}


.group-header {
  color: white;
  height: 17em;
  background: linear-gradient(rgba(90,90,90,.5),rgba(199,199,199,.5));
}

#group-info {
  margin-top: 8em;
}


.group-sub-header {
  background-color: rgba(250,250,250,.99);

  padding-top: 10px;
  padding-bottom: 10px;
  // height: 4em;
  border-bottom: 1px solid rgb(218,226,233);
}

.group-name{
  //
}
.group-avatar {
  position: relative;
  min-width: 12em;
  min-height: 12em;
  margin-top: 4.4em;
}


.plan-card{
  border: 1px solid rgb(207,213,218);
  margin: .5em 0 .5em 0;
  background-color: white;
}

.plan-card:hover{
  background-color: rgb(231,232,239);

}

.plan-card .media{
  margin: 0;
}

.plan-card a:hover{
  text-decoration: none;
}


.plan-card-new{
  border-left: 5px solid rgb(82,176,214);
}

.plan-card-joined{
  border-left: 5px solid rgb(86,174,61);
}

.plan-card-refused{
  border-left: 5px solid red;
  -webkit-filter: opacity(0.7) grayscale(1) ;
  filter:  opacity(0.7) grayscale(1);

}

.plan-card-refused:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.plans-content{
  padding: 0.5em 0 0.4em 0;
}

.plans-content .btn-success{
  margin-bottom: 0.2em;
}


.plans-content .user-plan-status{
  font-size: 3em;
}


.plan-header{
  margin-top: 3.7em;
}

#plan-subheader{
  margin-top: 0px;
}

#plan-subheader .plans-content{
  margin-top: 3em;
}
.plan-admin-btn, .plan-group-btn{
  margin-top: 0.5em;
}
.plan-name {
  font-size: 4em;
}

.plan-image{
  width: 100%;
}

#plan-where ul {
  list-style-type: none;
}
#plan-where li:before {

    /*Using a Bootstrap glyphicon as the bullet point*/
    content: "\e062";
    font-family: 'Glyphicons Halflings';
    font-size: 1.5em;
    float: left;
    margin-top: 2px;
    margin-left: -1.5em;
}
