// Place all the styles related to the plans controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.modal-big_header{
  font-size: 3em;
  font-weight: bolder;
  margin: 0;
}

#when-div, #where-div {
  display: none;
}


.group-block {
  background: image-url("GRPAvatar.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


  // -webkit-filter: blur(5px);
  // -moz-filter: blur(5px);
  // -o-filter: blur(5px);
  // -ms-filter: blur(5px);
  // filter: blur(5px);
}


.group-header {
  color: white;
  height: 17em;
  background: linear-gradient(rgba(90,90,90,.5),rgba(199,199,199,.5));
}

#group-info {
  margin-top: 8em;
}


.group-sub-header {
  background-color: rgba(250,250,250,.99);

  padding-top: 10px;
  padding-bottom: 10px;
  // height: 4em;
  border-bottom: 1px solid rgb(218,226,233);
}

.group-name{
  //
}
.group-avatar {
  position: relative;
  min-width: 12em;
  min-height: 12em;
  margin-top: 4.4em;
}

.group-avatar-xs{

  width: 1.5em;
  height: 1.5em;
}

.group-edit:hover {
  -webkit-filter: brightness(1) drop-shadow(5px 5px 20px black);
  filter: brightness(1) drop-shadow(5px 5px 20px black);
}


.plan-card{
  border: 1px solid rgb(207,213,218);
  margin: .5em 0 .5em 0;
  background-color: white;
}

.plan-card:hover{
  background-color: rgb(231,232,239);


}

.plan-card .media{
  margin: 0;
}

.plan-card a:hover{
  text-decoration: none;
}

.plan-card .plan-image-thumb{
  height: 80px;
  width: 90px;
  -webkit-filter: opacity(.9);
   filter: opacity(.9);
}

.plan-card-new{
  border-left: 5px solid rgb(82,176,214);
}

.plan-card-joined{
  border-left: 5px solid rgb(86,174,61);
}

.plan-card-refused{
  border-left: 5px solid red;
  -webkit-filter: opacity(0.7) grayscale(1) ;
  filter:  opacity(0.7) grayscale(1);

}

.plan-card-refused:hover {
  -webkit-filter: grayscale(0);
  filter: grayscale(0);
  -webkit-filter: opacity(1);
  filter: opacity(1);
}

.plans-content{
  padding: 0.5em 0 0.4em 0;
}

.plans-content .btn-success{
  margin-bottom: 0.2em;
}


.plans-content .user-plan-status{
  font-size: 3em;
}


.plan-header{
  margin-top: 3.7em;
}

#plan-subheader{
  margin-top: 0px;
}

#plan-subheader .plans-content{
  margin-top: 3em;
}
.plan-admin-btn, .plan-group-btn{
  margin-top: 0.5em;
}
.plan-name {
  font-size: 4em;
}

.plan-status-svg{
  position:absolute;
  right: 1em;
  max-width: 15em;
  margin: 2em 2em 0 0;
}
.plan-card-status-container img {
  position:absolute;
  right: 1em;
  max-width: 8em;
  margin: 0.8em 0 0 0;
  -webkit-filter: opacity(.4);
  filter: opacity(.4);

}

.plan-image{
  width: 100%;
  margin-bottom: 1em;
}

#edit-image-btn{
  margin-bottom: 2em;
}


.date-row:hover,
.location-row:hover {
  color: black;
  text-shadow: 0px 0px 8px rgba(150, 150, 150, 1);
}

.date-declined {

  -webkit-filter: opacity(.6);
  filter: opacity(.6);
}

.most-popular {
  font-size: .6em;
}

.glyphicon-ok{
  color: green;
}
.glyphicon-remove{
  color: red;
}

.delete-icon {
  color: gray;
  margin-right: 2em;
  display:none;
}

.most-popular{
  color: red;
}

#delete-date {
  display: none;
}

#plan-when h1,
#plan-where h1  {
  margin-top: 0px;
}

#plan-when ul,
#plan-where ul  {
  list-style-type: none;
}
#plan-when li:before,
#plan-where li:before {
    /*Using a Bootstrap glyphicon as the bullet point*/
    font-family: 'Glyphicons Halflings';
    font-size: 1.5em;
    float: left;
    margin-top: 2px;
    margin-left: -1.5em;
}

#plan-when li:before, {
  content: "\e109";
}
#plan-where li:before, {
  content: "\e062";
}
