<div class="footer">
  <div class="container">
    <div class="pull-left text-muted "><small>✪ 2015 Made by Andreu Masferrer @ Ironhack BCN </small></div>
    <div class="pull-right ">
      <%= image_tag("icons/xs-facebook2.png") %>
      <%= image_tag("icons/xs-google-plus.png") %>
      <%= image_tag("icons/xs-twitter.png") %>
      <%= image_tag("icons/xs-istagram19.png") %>
    </div>
  </div>
</div>
